body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
}

.header {
  background-color: black !important;
  padding: .4rem;
  display: flex !important;
}

div#loader {
  display: block;
  position: absolute;
  z-index: 11;
  left: 45%;
  top: 35%;
}

div.movableItem {
  position: absolute;
  padding: 10px;
  cursor: move;
  z-index: 9;
  text-align: center;
  background-color: #2196F3;
  color: #fff;
  display: block;
  border: 1px solid grey;
  max-width: 100px;
  box-shadow: grey, 1px, 1px
}