.authForm {
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    margin: .3rem;
}